.hero-container {
  width: 170px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, .3);

  &:hover, &:focus {  
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .6);
  }

  img {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
}